---
layout: default
decoration: pentagon
---

{% if page.filter %}
  {% assign filter = page.filter %}
{% else %}
  {% assign filter = page.title | downcase %}
{% endif %}

<div class="page">
  <div class="decorative-header">
    <div class="{{ page.decoration }}" aria-hidden="true"></div>
    {% if page.title %}
      <h1 class="post-title">{{ page.title }}</h1>
    {% else %}
      <h1 class="post-title">{{ filter }}</h1>
    {% endif %}
  </div>

  {{ content }}

  <hr>

  {% assign filteredPosts = site.posts | where: "categories", filter %}
  {% assign filteredPostsSize = filteredPosts | size %}
  {% if filteredPostsSize == 0 %}
    Nothing to see here just yet!
  {% else %}
    <div class="posts">
    {% assign limitPosts = page.limit | default: 3 %}
    {% for post in filteredPosts limit: limitPosts %}
      <div class="post">
        <h2 class="post-title">
          <a href="{{ post.url }}">
            {{ post.title }}
          </a>
        </h2>
        <span class="post-date">On {{ post.date | date_to_string: "ordinal", "US" }} ~ {% include time.html contentToTime=post.content %}</span>

        {{ post.excerpt | strip_html }}
        <a href="{{ post.url }}">Continue…</a>
      </div>
    {% endfor %}
  </div>
  {% endif %}

</div>


