/*Change icons circle size and color here*/
.social-icons .fa {
	height: 0;
  padding-bottom: 100%;
	text-align: center;
	color: #FFF;
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.social-icons.icon-circle .fa{ 
	border-radius: 50%;
}
.social-icons.icon-rounded .fa{
	border-radius:2vw;
}
.social-icons.icon-flat .fa{
	border-radius: 0;
}

@media screen and (max-width: 480px) {
    .social-icons .fa {
        width: 20vw;
        line-height: 20vw;
    }
  	.social-icons .fa {
		font-size: 9vw;
	}
}

@media screen and (min-width: 480px) {
    .social-icons .fa {
        width: 10vw;
        line-height: 10vw;
    }
  	.social-icons .fa {
		font-size: 4.5vw;
	}
}