.social-icons .fa-amazon{background-color:#ff9900;}
.social-icons .fa-apple{background-color:#666666;}
.social-icons .fa-bitbucket{background-color:#23517f;} 
.social-icons .fa-bitcoin{background-color:#f5922f;}
.social-icons .fa-dribbble{background-color:#e9508a;}  
.social-icons .fa-dropbox{background-color:#1d83db;}
.social-icons .fa-facebook{background-color:#3c5a96;}  
.social-icons .fa-foursquare{background-color:#f74b79;}
.social-icons .fa-github{background-color:#666;} 
.social-icons .fa-github-alt{background-color:#757;} 
.social-icons .fa-google-plus{background-color:#d9453d;} 
.social-icons .fa-instagram{background-color:#a83caf;}
.social-icons .fa-linkedin,.social-icons .fa-slideshare{background-color:#1175ae;}
.social-icons .fa-skype{background-color:#25aff1;}
.social-icons .fa-stack-overflow{background-color:#f28033;}
.social-icons .fa-tumblr{background-color:#37465c;} 
.social-icons .fa-twitter{background-color:#2aa3ef;}
.social-icons .fa-ticket{background-color:#e3b836;} 
.social-icons .fa-y-combinator{background-color:#fc6621;}
.social-icons .fa-spotify{background-color:#23cf5f;}
.social-icons .fa-graduation-cap{background-color:#4688f1;}
.social-icons .fa-medium{background-color:#58595b;}
.social-icons .fa-youtube{background-color:#e32424;}
.social-icons .fa-flask{background-color:#21cbbb;}
.social-icons .fa-steam{background-color:#171a21;}
.social-icons .fa-envelope-o{background-color:#e9453c;}
.social-icons .fa-lock{background-color:#fe7222;}
.social-icons .fa-pied-piper{background-color:#359f4b;}
.social-icons .fa-sticky-note-o{background-color:#f77824;}
.social-icons .fa-get-pocket{background-color:#ec4259;}